<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>个人信息系统</title>
    <style>
        .wrap {
            margin-top: 150px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div id="userName">
        欢迎登录，
    </div>
    <br/>
    <div id="weatherinfo">下面是今天的天气哦 : )<br/></div>
    <button id="btnLogout">点此登出</button>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js-cookie.js"></script>

<script>
    $(document).ready(function () {

        $.ajax({
            url: 'http://wthrcdn.etouch.cn/weather_mini?citykey=101210701',
            type: 'GET',
            dataType: 'json',
            success: function (res) {
                $('#chuanyi').html(res.data.city + "当前温度为" + res.data.wendu + "℃" + res.data.ganmao);
            }
        });

        $.ajax({
            url: 'https://www.tianqiapi.com/api/',
            data: 'version=v1&city=温州',
            type: 'GET',
            dataType: 'JSON',
            success: function (res) {
                $('#wendu').html('最低气温' + res.data[0].tem2 + ",最高气温" + res.data[0].tem1);
            },
            error: function () {
                alert('网络错误');
            }
        });

        $.ajax({
            url: 'http://localhost:8080/ProgrammingAbilityAdvancedClass/indexinfo.php',
            type: 'GET',
            dataType: 'json',
            xhrFields: {withCredentials: true},
            success: function (res) {
                $('#userName').append(res.userName);
                $('#weatherinfo').append(res.WeatherInfo);
            }
        })

        $('#btnLogout').click(function () {
            $.ajax({
                url: 'http://localhost:8080/ProgrammingAbilityAdvancedClass/logoutserver.php',
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                xhrFields: {withCredentials: true},
                success: function (res) {
                    if (res.message === 'success') {
                        location.href = 'login.html';
                    }
                }
            })
        })
    })
</script>
</body>
</html>
